@font-face {
    font-family: 'Sriracha-Regular';
    src: url('./fonts/Sriracha-Regular.eot');
    src: url('./fonts/Sriracha-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Sriracha-Regular.woff2') format('woff2'),
         url('./fonts/Sriracha-Regular.woff') format('woff'),
         url('./fonts/Sriracha-Regular.ttf') format('truetype');
}

#block-1 {
  color: #FFF;
  background-color: #A6CE39;
  height: 720px;
}

#block-1-header {
  font-family: 'Sriracha-Regular';
  font-size: 35pt;
  text-align: center;
  padding-top: 230px;
}

#name {
  font-size: 90pt;

}

#block-2 {
  color: #A6CE39;
  background-color: #FFF;
  font-family: 'Sriracha-Regular';
  font-size: 38pt;
  font-weight: normal;
  text-align: left;
  padding-top: 110px;
  height: 720px;
}

#block-3 {
  background: url("img/block03.png") no-repeat center;
  color: #FFF;
  background-color: #333333;
  height: 700px;
}

#block-3-text {
  font-family: 'Sriracha-Regular';
  font-size: 24pt;
  line-height: 150%;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 490px;
}

#block-4 {
  background: url("img/block04.png") no-repeat center;
  color: #333333;
  background-color: #A6CE39;
  height: 700px;
}

#block-4-text {
  font-family: 'Sriracha-Regular';
  font-size: 32pt;
  line-height: 150%;
  text-align: left;
  padding-top: 490px;
  padding-bottom: 30px;
}

#block-5 {
  background: url("img/block05.png") no-repeat center;
  color: #333333;
  background-color: #FFF;
  padding-top: 700px;
}

#block-6 {
  color: #FFF;
  background-color: #A6CE39;
  height: 700px;
  padding-top: 200px;
}

#block-6-text1 {
  font-family: 'Sriracha-Regular';
  font-size: 84pt;
  line-height: 80%;
  text-align: center;
}

#block-6-text2 {
  font-family: 'Sriracha-Regular';
  font-size: 90pt;
  line-height: 50%;

  text-align: center;
}

#block-6-text3 {
  font-family: 'Sriracha-Regular';
  font-size: 36pt;

  text-align: center;
}

#block-7 {
  background: url("img/block07.png") no-repeat center;
  background-size: cover;
  color: #FFF;
  background-color: #333333;
  height: 700px;
}

#block-7-text {
  font-family: 'Sriracha-Regular';
  font-size: 30pt;
  line-height: 150%;
  text-align: left;
  padding-top: 120px;
}

#block-8 {
  background: url("img/block08.png") no-repeat center;
  background-size: cover;
  color: #A6CE39;
  background-color: #333333;
  height: 700px;
}

#block-8-text {
  font-family: 'Sriracha-Regular';
  font-size: 24pt;
  line-height: 150%;
  text-align: left;
  padding-top: 130px;
}

#block-9 {
  color: #A6CE39;
  background-color: #FFF;
  font-family: 'Sriracha-Regular';
  font-size: 45pt;
  line-height: 120%;
  text-align: left;
  padding-top: 50px;
}

#block-9-Title {
  font-family: 'Sriracha-Regular';
  font-size: 14pt;
  text-align: left;
  letter-spacing: 0px
}

#block-9-Char {
  font-family: 'Sriracha-Regular';
  font-size: 36pt;
  text-align: left;
  letter-spacing: 3px
}

#block-9-Char-2 {
  font-family: 'Sriracha-Regular';
  font-size: 24pt;
  line-height: 160%;
  text-align: left;
  letter-spacing: 3px
}

#block-9-Vowel {
  font-family: 'Sriracha-Regular';
  line-height: 150%;
  font-size: 36pt;
  text-align: left;
}

#Line1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A6CE39;
}

#Line2 {
    display: block;
    height: 1px;
    border: 0;
    margin-bottom: 15px;
    border-top: 1px solid #A6CE39;
}
