@font-face {
    font-family: 'Sriracha-Regular';
    src: url('fonts/Sriracha-Regular.ttf') format('truetype'),
         url('fonts/Sriracha-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sriracha-Regular.woff') format('woff');
    font-weight: 400;
}

#block-1 {
  color: #FFF;
  background-color: #A6CE39;
}

#block-1-header {
  font-family: Sriracha-Regular;
  font-size: 35pt;
  font-weight: 400;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 210px;
}

#name {
  font-size: 90pt;
  font-weight: 400;
}

#block-2 {
  color: #A6CE39;
  background-color: #FFF;
  font-family: Sriracha-Regular;
  font-size: 35pt;
  font-weight: normal;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
}

#block-3 {
  background: url("img/block03.png") no-repeat center;
  color: #FFF;
  background-color: #333333;
}

#block-3-text {
  font-family: Sriracha-Regular;
  font-size: 24pt;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 490px;
}

#block-4 {
  background: url("img/block04.png") no-repeat center;
  color: #333333;
  background-color: #A6CE39;
}

#block-4-text {
  font-family: Sriracha-Regular;
  font-size: 24pt;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  padding-top: 490px;
  padding-bottom: 30px;
}

#block-5 {
  background: url("img/block05.png") no-repeat center;
  color: #333333;
  background-color: #FFF;
  padding-top: 700px;
}

#block-6 {
  color: #FFF;
  background-color: #A6CE39;
  padding-top: 200px;
  padding-bottom: 200px;
}

#block-6-text1 {
  font-family: Sriracha-Regular;
  font-size: 84pt;
  line-height: 80%;
  font-weight: 400;
  text-align: center;
}

#block-6-text2 {
  font-family: Sriracha-Regular;
  font-size: 90pt;
  line-height: 50%;
  font-weight: 400;
  text-align: center;
}

#block-6-text3 {
  font-family: Sriracha-Regular;
  font-size: 36pt;
  font-weight: 400;
  text-align: center;
}

#block-7 {
  background: url("img/block07.png") no-repeat center;
  background-size: cover;
  color: #FFF;
  background-color: #333333;
}

#block-7-text {
  font-family: Sriracha-Regular;
  font-size: 30pt;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  padding-top: 90px;
  padding-bottom: 90px;
}

#block-8 {
  background: url("img/block08.png") no-repeat center;
  background-size: cover;
  color: #A6CE39;
  background-color: #333333;
}

#block-8-text {
  font-family: Sriracha-Regular;
  font-size: 20pt;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  padding-top: 90px;
  padding-bottom: 90px;
}

#block-9 {
  color: #A6CE39;
  background-color: #FFF;
  font-family: Sriracha-Regular;
  font-size: 45pt;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 70px;
}

#block-9-Title {
  font-family: Sriracha-Regular;
  font-size: 18pt;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px
}

#block-9-Char {
  font-family: Sriracha-Regular;
  font-size: 40pt;
  font-weight: 400;
  text-align: left;
  letter-spacing: 3px
}

#block-9-Vowel {
  font-family: Sriracha-Regular;
  line-height: 150%;
  font-size: 40pt;
  font-weight: 400;
  text-align: left;
}

#Line1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A6CE39;
}

#Line2 {
    display: block;
    height: 1px;
    border: 0;
    margin-bottom: 15px;
    border-top: 1px solid #A6CE39;
}
